In [195]:
#Dependencies
import pandas as pd

In [196]:
#Save path to set data to variable
purchase_file = "Resources/purchase_data.csv"

In [197]:
#Use Pandas to read data
purchase_file_df = pd.read_csv(purchase_file)
purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [198]:
Total_Players = len(purchase_file_df["SN"].value_counts())
print(Total_Players)

576

In [199]:
frame_df=pd.DataFrame({"Total Players":[Total_Players]})
frame_df

   Total Players
0            576

In [200]:
unique_items=len(purchase_file_df["Item Name"].value_counts())
unique_items

179

In [201]:
average=purchase_file_df["Price"].mean()

print(average)

3.0509871794871795

In [202]:
total_purchases=len(purchase_file_df["Purchase ID"].value_counts())
print(total_purchases)

780

In [203]:
total_revenue=purchase_file_df["Price"].sum()
print(total_revenue)

2379.77

In [204]:
summary_df=pd.DataFrame({"Number of Unique Items":[unique_items],"Average Price":[average],"Number of Purchases":[total_purchases],"Total Revenue":[total_revenue]})
print(summary_df)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [205]:
summary_df.style.format({'Average Price': "${:,.2f}",'Total Revenue': "${:,.2f}"})

In [206]:

male = purchase_file_df.loc[purchase_file_df["Gender"]=="Male", :]
male_count = len(male["SN"].value_counts())
print(male_count)

484

In [207]:
female = purchase_file_df.loc[purchase_file_df["Gender"]=="Female", :]
female_count = len(female["SN"].value_counts())
print(female_count)

81

In [208]:
other = purchase_file_df.loc[purchase_file_df["Gender"]=="Other / Non-Disclosed", :]
other_count = len(other["SN"].value_counts())
print(other_count)

11

In [209]:
male_percent = (male_count/(Total_Players)) * 100
print(male_percent)

84.02777777777779

In [210]:
female_percent = (female_count/(Total_Players)) * 100
print(female_percent)

14.0625

In [211]:
other_percent = (other_count/(Total_Players)) * 100
print(other_percent)

1.9097222222222223

In [212]:
gender_df = pd.DataFrame({"Total Count":[male_count,female_count,other_count],"Percentage Of Players":[male_percent,female_percent,other_percent]},index=["Male","Female","Other / Non-Disclosed"])
gender_df
gender_df.style.format({"Percentage Of Players": "{:,.2f}%",})

In [242]:
#  gender_data = purchase_file_df.groupby(["Gender"])
#  gender_data.count()

Gender                 SN
Female                 Chamjask73     3
                       Ialallo29      3
                       Phyali88       3
                       Tyidaim51      3
                       Umolrian85     3
                                     ..
Other / Non-Disclosed  Haerithp41     1
                       Jiskirran77    1
                       Lirtim36       1
                       Rairith81      1
                       Sundim98       1
Name: SN, Length: 576, dtype: int64

In [243]:
# female_avg_price = purchase_file_df.loc[purchase_file_df["Gender"]=="Female", "Price"].mean()
# female_avg_price