In [1]:
#Dependencies
import pandas as pd

In [2]:
#Save path to set data to variable
purchase_file = "Resources/purchase_data.csv"

In [3]:
#Use Pandas to read data
purchase_file_df = pd.read_csv(purchase_file)
purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Player Count(Total Number Of Players)
Total_Players = len(purchase_file_df["SN"].value_counts())
print(Total_Players)

576

In [5]:
#DataFrame displaying the Total Number Of Players
frame_df=pd.DataFrame({"Total Players":[Total_Players]})
frame_df

   Total Players
0            576

In [6]:
#Number Of Unique Items
unique_items=len(purchase_file_df["Item Name"].value_counts())
unique_items

179

In [7]:
#Average Purchase Price
average=purchase_file_df["Price"].mean()
print(average)

3.0509871794871795

In [8]:
#Total Number Of Purchases
total_purchases=len(purchase_file_df["Purchase ID"].value_counts())
print(total_purchases)

780

In [9]:
#Total Revenue
total_revenue=purchase_file_df["Price"].sum()
print(total_revenue)

2379.77

In [10]:
#Summary DataFrame 
summary_df=pd.DataFrame({"Number of Unique Items":[unique_items],"Average Price":[average],"Number of Purchases":[total_purchases],"Total Revenue":[total_revenue]})
print(summary_df)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [11]:
#Formatted Summary DataFrame
summary_df.style.format({'Average Price': "${:,.2f}",'Total Revenue': "${:,.2f}"})

In [12]:
#Count Of Male Players
male = purchase_file_df.loc[purchase_file_df["Gender"]=="Male", :]
male_count = len(male["SN"].value_counts())
print(male_count)

484

In [13]:
#Count Of Female Players
female = purchase_file_df.loc[purchase_file_df["Gender"]=="Female", :]
female_count = len(female["SN"].value_counts())
print(female_count)

81

In [14]:
#Count of Other/Non-Disclosed Players
other = purchase_file_df.loc[purchase_file_df["Gender"]=="Other / Non-Disclosed", :]
other_count = len(other["SN"].value_counts())
print(other_count)

11

In [15]:
#Percentage Of Male Players
male_percent = (male_count/(Total_Players)) * 100
print(male_percent)

84.02777777777779

In [16]:
#Percentage Of Female Players
female_percent = (female_count/(Total_Players)) * 100
print(female_percent)

14.0625

In [17]:
#Percentage Of Other Players
other_percent = (other_count/(Total_Players)) * 100
print(other_percent)

1.9097222222222223

In [18]:
#DataFrame For Gender Demographics
gender_df = pd.DataFrame({"Total Count":[male_count,female_count,other_count],"Percentage Of Players":[male_percent,female_percent,other_percent]},index=["Male","Female","Other / Non-Disclosed"])
gender_df
gender_df.style.format({"Percentage Of Players": "{:,.2f}%"})

In [19]:
#Purchasing Analysis By Gender
price_df = purchase_file_df[["Price", "Gender"]]
print(price_df)

     Price  Gender
0     3.53    Male
1     1.56    Male
2     4.88    Male
3     3.27    Male
4     1.44    Male
..     ...     ...
775   3.54  Female
776   1.63    Male
777   3.46    Male
778   4.19    Male
779   4.60    Male

[780 rows x 2 columns]

In [20]:
#Female Purchase Count
female_purchase = price_df.loc[price_df["Gender"]=="Female","Price"].count()
print(female_purchase)

113

In [21]:
#Male Purchase Count
male_purchase = price_df.loc[price_df["Gender"]=="Male","Price"].count()
print(male_purchase)

652

In [22]:
#Other/Non-Disclosed Purchase Count
other_purchase = price_df.loc[price_df["Gender"]=="Other / Non-Disclosed","Price"].count()
print(other_purchase)

15

In [23]:
#Female Average Purchase Price
female_avg= price_df.loc[price_df["Gender"]=="Female","Price"].mean()
print(female_avg)

3.203008849557522

In [24]:
#Male Average Purchase Price
male_avg= price_df.loc[price_df["Gender"]=="Male","Price"].mean() 
print(male_avg)

3.0178527607361967

In [25]:
#Other/Non-Disclosed Average Purchase Price
other_avg= price_df.loc[price_df["Gender"]=="Other / Non-Disclosed","Price"].mean()
print(other_avg)

3.3459999999999996

In [26]:
#Female Total Purchase Value
female_total = price_df.loc[price_df["Gender"]=="Female","Price"].sum()
print(female_total)

361.94

In [27]:
#Male Total Purchase Value
male_total = price_df.loc[price_df["Gender"]=="Male","Price"].sum()
print(male_total)

1967.64

In [28]:
#Other/Non_Disclosed Total Purchase Value
other_total = price_df.loc[price_df["Gender"]=="Other / Non-Disclosed","Price"].sum()
print(other_total)

50.19

In [29]:
#Female Avg Total Purchase per Person
female_avg_total=(female_total/female_count)
print(female_avg_total)

4.468395061728395

In [30]:
#Male Avg Total Purchase per Person
male_avg_total=(male_total/male_count)
print(male_avg_total)

4.065371900826446

In [31]:
#Other/Non-Disclosed Avg Total Purchase per Person
other_avg_total=(other_total/other_count)
print(other_avg_total)

4.5627272727272725

In [32]:
#DataFrame For Purchasing Analysis Broken Down By Gender
purchasing_df = pd.DataFrame({"Purchase Count":[female_purchase,male_purchase,other_purchase],"Average Purchase Price":[female_avg,male_avg,other_avg],"Total Purchase Value":[female_total, male_total ,other_total],"Average Total Purchase per Person":[female_avg_total, male_avg_total, other_avg_total]},index=["Male","Female","Other / Non-Disclosed"])
purchasing_df
purchasing_df.style.format({"Average Purchase Price": "${:,.2f}","Total Purchase Value":"${:,.2f}","Average Total Purchase per Person":"${:,.2f}"})