In [61]:
#Dependencies
import pandas as pd

In [62]:
#Save path to set data to variable
purchase_file = "Resources/purchase_data.csv"

In [63]:
#Use Pandas to read data
purchase_file_df = pd.read_csv(purchase_file)
purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [64]:
Total_Players = len(purchase_file_df["SN"].value_counts())
print(Total_Players)

576

In [65]:
frame_df=pd.DataFrame({"Total Players":[Total_Players]})
print(frame_df)

   Total Players
0            576

In [53]:
unique_items=len(purchase_file_df["Item Name"].value_counts())
unique_items

179

In [54]:
average=purchase_file_df["Price"].mean()
rounded_average=round(average,2)
print(rounded_average)

3.05

In [67]:
total_purchases=len(purchase_file_df["Purchase ID"].value_counts())
print(total_purchases)

780

In [68]:
total_revenue=purchase_file_df["Price"].sum()
print(total_revenue)

2379.77

In [66]:
summary_df=pd.DataFrame({"Number of Unique Items":[unique_items],"Average Price":[rounded_average],"Number of Purchases":[total_purchases],"Total Revenue":[total_revenue]})
print(summary_df)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77