In [72]:
#Dependencies
import pandas as pd

In [73]:
#Save path to set data to variable
purchase_file = "Resources/purchase_data.csv"

In [74]:
#Use Pandas to read data
purchase_file_df = pd.read_csv(purchase_file)
purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [75]:
#Player Count(Total Number Of Players)
Total_Players = len(purchase_file_df["SN"].value_counts())
print(Total_Players)

576

In [76]:
#DataFrame displaying the Total Number Of Players
frame_df=pd.DataFrame({"Total Players":[Total_Players]})
frame_df

   Total Players
0            576

In [77]:
#Number Of Unique Items
unique_items=len(purchase_file_df["Item Name"].value_counts())
unique_items

179

In [78]:
#Average Purchase Price
average=purchase_file_df["Price"].mean()
print(average)

3.0509871794871795

In [79]:
#Total Number Of Purchases
total_purchases=len(purchase_file_df["Purchase ID"].value_counts())
print(total_purchases)

780

In [80]:
#Total Revenue
total_revenue=purchase_file_df["Price"].sum()
print(total_revenue)

2379.77

In [81]:
#Summary DataFrame 
summary_df=pd.DataFrame({"Number of Unique Items":[unique_items],"Average Price":[average],"Number of Purchases":[total_purchases],"Total Revenue":[total_revenue]})
print(summary_df)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [82]:
#Formatted Summary DataFrame
summary_df.style.format({'Average Price': "${:,.2f}",'Total Revenue': "${:,.2f}"})

In [83]:
#Count Of Male Players
male = purchase_file_df.loc[purchase_file_df["Gender"]=="Male", :]
male_count = len(male["SN"].value_counts())
print(male_count)

484

In [84]:
#Count Of Female Players
female = purchase_file_df.loc[purchase_file_df["Gender"]=="Female", :]
female_count = len(female["SN"].value_counts())
print(female_count)

81

In [85]:
#Count of Other/Non-Disclosed Players
other = purchase_file_df.loc[purchase_file_df["Gender"]=="Other / Non-Disclosed", :]
other_count = len(other["SN"].value_counts())
print(other_count)

11

In [86]:
#Percentage Of Male Players
male_percent = (male_count/(Total_Players)) * 100
print(male_percent)

84.02777777777779

In [87]:
#Percentage Of Female Players
female_percent = (female_count/(Total_Players)) * 100
print(female_percent)

14.0625

In [88]:
#Percentage Of Other Players
other_percent = (other_count/(Total_Players)) * 100
print(other_percent)

1.9097222222222223

In [89]:
#DataFrame For Gender Demographics
gender_df = pd.DataFrame({"Total Count":[male_count,female_count,other_count],"Percentage Of Players":[male_percent,female_percent,other_percent]},index=["Male","Female","Other / Non-Disclosed"])
gender_df
gender_df.style.format({"Percentage Of Players": "{:,.2f}%"})

In [90]:
#Purchasing Analysis By Gender
price_df = purchase_file_df[["Price", "Gender"]]
print(price_df)

     Price  Gender
0     3.53    Male
1     1.56    Male
2     4.88    Male
3     3.27    Male
4     1.44    Male
..     ...     ...
775   3.54  Female
776   1.63    Male
777   3.46    Male
778   4.19    Male
779   4.60    Male

[780 rows x 2 columns]

In [91]:
#Female Purchase Count
female_purchase = price_df.loc[price_df["Gender"]=="Female","Price"].count()
print(female_purchase)

113

In [92]:
#Male Purchase Count
male_purchase = price_df.loc[price_df["Gender"]=="Male","Price"].count()
print(male_purchase)

652

In [93]:
#Other/Non-Disclosed Purchase Count
other_purchase = price_df.loc[price_df["Gender"]=="Other / Non-Disclosed","Price"].count()
print(other_purchase)

15

In [94]:
#Female Average Purchase Price
female_avg= price_df.loc[price_df["Gender"]=="Female","Price"].mean()
print(female_avg)

3.203008849557522

In [95]:
#Male Average Purchase Price
male_avg= price_df.loc[price_df["Gender"]=="Male","Price"].mean() 
print(male_avg)

3.0178527607361967

In [96]:
#Other/Non-Disclosed Average Purchase Price
other_avg= price_df.loc[price_df["Gender"]=="Other / Non-Disclosed","Price"].mean()
print(other_avg)

3.3459999999999996

In [97]:
#Female Total Purchase Value
female_total = price_df.loc[price_df["Gender"]=="Female","Price"].sum()
print(female_total)

361.94

In [98]:
#Male Total Purchase Value
male_total = price_df.loc[price_df["Gender"]=="Male","Price"].sum()
print(male_total)

1967.64

In [99]:
#Other/Non_Disclosed Total Purchase Value
other_total = price_df.loc[price_df["Gender"]=="Other / Non-Disclosed","Price"].sum()
print(other_total)

50.19

In [100]:
#Female Avg Total Purchase per Person
female_avg_total=(female_total/female_count)
print(female_avg_total)

4.468395061728395

In [101]:
#Male Avg Total Purchase per Person
male_avg_total=(male_total/male_count)
print(male_avg_total)

4.065371900826446

In [102]:
#Other/Non-Disclosed Avg Total Purchase per Person
other_avg_total=(other_total/other_count)
print(other_avg_total)

4.5627272727272725

In [103]:
#DataFrame For Purchasing Analysis Broken Down By Gender
purchasing_df = pd.DataFrame({"Purchase Count":[female_purchase,male_purchase,other_purchase],"Average Purchase Price":[female_avg,male_avg,other_avg],"Total Purchase Value":[female_total, male_total ,other_total],"Average Total Purchase per Person":[female_avg_total, male_avg_total, other_avg_total]},index=["Male","Female","Other / Non-Disclosed"])
purchasing_df
purchasing_df.style.format({"Average Purchase Price": "${:,.2f}","Total Purchase Value":"${:,.2f}","Average Total Purchase per Person":"${:,.2f}"})

In [104]:
#Create bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
#Create names for bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [105]:

purchase_file_df["Age Group"]=pd.cut(purchase_file_df["Age"], age_bins, labels=group_names)

purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [106]:
# purchase_group =(purchase_file_df.groupby("Age Group"))
# purchase_group.count()

In [107]:
#Total Count of Players for Different Age Groups
age_under_10 =len(purchase_file_df.loc[purchase_file_df["Age Group"]=="<10","SN"].value_counts())
age_10_14 =len(purchase_file_df.loc[purchase_file_df["Age Group"]=="10-14","SN"].value_counts())  
age_15_19 =len(purchase_file_df.loc[purchase_file_df["Age Group"]=="15-19","SN"].value_counts())
age_20_24 =len(purchase_file_df.loc[purchase_file_df["Age Group"]=="20-24","SN"].value_counts())
age_25_29 =len(purchase_file_df.loc[purchase_file_df["Age Group"]=="25-29","SN"].value_counts())
age_30_34 =len(purchase_file_df.loc[purchase_file_df["Age Group"]=="30-34","SN"].value_counts())
age_35_39 =len(purchase_file_df.loc[purchase_file_df["Age Group"]=="35-39","SN"].value_counts())
age_40 =len(purchase_file_df.loc[purchase_file_df["Age Group"]=="40+","SN"].value_counts())
print(age_40)

12

In [108]:
#Percentage of Players for Various Age Groups
percent_under_10 = (age_under_10/Total_Players)*100
percent_10_14 = (age_10_14/Total_Players)*100
percent_15_19 = (age_15_19/Total_Players)*100
percent_20_24 = (age_20_24/Total_Players)*100
percent_25_29 = (age_25_29/Total_Players)*100
percent_30_34 = (age_30_34/Total_Players)*100
percent_35_39 = (age_35_39/Total_Players)*100
percent_40 =(age_40/Total_Players)*100
print(percent_40)

2.083333333333333

In [109]:
age_df = pd.DataFrame({"Total Count":[age_under_10,age_10_14,age_15_19,age_20_24,age_25_29,age_30_34,age_35_39,age_40],"Percentage Of Players":[percent_under_10,percent_10_14,percent_15_19,percent_20_24,percent_25_29,percent_30_34,percent_35_39,percent_40]},index=["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],)
age_df
age_df.style.format({"Percentage Of Players": "{:,.2f}%"})

In [110]:
#Purchase Count Of Players For Various Age Groups
purchase_under_10 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="<10","Price"].count())
purchase_10_14 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="10-14","Price"].count())
purchase_15_19 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="15-19","Price"].count())
purchase_20_24 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="20-24","Price"].count())
purchase_25_29 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="25-29","Price"].count())
purchase_30_34 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="30-34","Price"].count())
purchase_35_39 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="35-39","Price"].count())
purchase_40 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="40+","Price"].count())
print(purchase_40)

13

In [111]:
#Average Purchase Price For Various Age Groups
avg_under_10 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="<10","Price"].mean())
avg_10_14 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="10-14","Price"].mean())
avg_15_19 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="15-19","Price"].mean())
avg_20_24 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="20-24","Price"].mean())
avg_25_29 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="25-29","Price"].mean())
avg_30_34 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="30-34","Price"].mean())
avg_35_39 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="35-39","Price"].mean())
avg_40 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="40+","Price"].mean())
print(avg_25_29)

2.9009900990099005

In [112]:
#Total Purchase Value For Various Age Group
total_under_10 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="<10","Price"].sum())
total_10_14 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="10-14","Price"].sum())
total_15_19 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="15-19","Price"].sum())
total_20_24 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="20-24","Price"].sum())
total_25_29 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="25-29","Price"].sum())
total_30_34 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="30-34","Price"].sum())
total_35_39 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="35-39","Price"].sum())
total_40 = (purchase_file_df.loc[purchase_file_df["Age Group"]=="40+","Price"].sum())
print(total_40)

38.24

In [113]:
#Avg Total Purchase per Person
avg_total_under_10 = total_under_10/age_under_10
avg_total_10_14 = total_10_14/age_10_14
avg_total_15_19 = total_15_19/age_15_19
avg_total_20_24 = total_20_24/age_20_24
avg_total_25_29 = total_25_29/age_25_29
avg_total_30_34 = total_30_34/age_30_34
avg_total_35_39 = total_35_39/age_35_39
avg_total_40 = total_40/age_40
print(avg_total_40)

3.186666666666667

In [114]:
age_range_df = pd.DataFrame({"Purchase Count":[purchase_under_10,purchase_10_14,purchase_15_19,purchase_20_24,purchase_25_29,purchase_30_34,purchase_35_39,purchase_40],"Average Purchase Price":[avg_under_10,avg_10_14,avg_15_19,avg_20_24,avg_25_29,avg_30_34,avg_35_39,avg_40],"Total Purchase Value":[total_under_10,total_10_14,total_15_19,total_20_24,total_25_29,total_30_34,total_35_39,total_40],"Avg Total Purchase per Person":[avg_total_under_10,avg_total_10_14,avg_total_15_19,avg_total_20_24,avg_total_25_29,avg_total_30_34,avg_total_35_39,avg_total_40]}, index=["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],)
age_range_df
age_range_df.style.format({"Average Purchase Price": "${:,.2f}","Total Purchase Value": "${:,.2f}","Avg Total Purchase per Person": "${:,.2f}"})

In [115]:
total_purchase = purchase_file_df.groupby("SN")["Price"].sum()
purchase_count = purchase_file_df.groupby("SN")["Price"].count()
purchase_avg = purchase_file_df.groupby("SN")["Price"].mean()

# Create DataFrame
spender_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": purchase_avg, "Total Purchase Value": total_purchase})
spender_df

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]

In [116]:
# Sort by Total Purchase Value
spender_df.sort_values("Total Purchase Value", ascending = False, inplace=True)

# Format columns
spender_df["Average Purchase Price"] = spender_df["Average Purchase Price"].map("${:.2f}".format)
spender_df["Total Purchase Value"] = spender_df["Total Purchase Value"].map("${:.2f}".format)

# Show Top 5 only
spender_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [117]:
item_data = purchase_file_df[["Item ID","Item Name", "Price"]]
item_data

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [118]:
purch_count=item_data.groupby(["Item ID","Item Name"])["Item ID"].count()
avg_item_price=item_data.groupby(["Item ID","Item Name"])["Price"].mean()
tot_purchase=purch_count*avg_item_price

In [119]:
pop_df = pd.DataFrame({"Purchase Count": purch_count, "Item Price": avg_item_price, "Total Purchase Value": tot_purchase})
pop_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
181,Reaper's Toll,5,1.6600,8.30
182,Toothpick,3,4.0300,12.09
183,Dragon's Greatsword,3,1.0900,3.27

In [120]:
# Sort by Total Purchase Value
pop_df.sort_values("Purchase Count", ascending = False, inplace=True)

# Format columns
pop_df["Item Price"] = pop_df["Item Price"].map("${:.2f}".format)
pop_df["Total Purchase Value"] = pop_df["Total Purchase Value"].map("${:.2f}".format)

# Show Top 5 only
pop_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [121]:
most_prof_df = pd.DataFrame({"Purchase Count": purch_count, "Item Price": avg_item_price, "Total Purchase Value": tot_purchase})
most_prof_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
181,Reaper's Toll,5,1.6600,8.30
182,Toothpick,3,4.0300,12.09
183,Dragon's Greatsword,3,1.0900,3.27

In [122]:
# Sort by Total Purchase Value
most_prof_df.sort_values("Total Purchase Value", ascending = False, inplace=True)

# Format columns
most_prof_df["Item Price"] = most_prof_df["Item Price"].map("${:.2f}".format)
most_prof_df["Total Purchase Value"] = most_prof_df["Total Purchase Value"].map("${:.2f}".format)

# Show Top 5 only
most_prof_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80